doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  title(Dyrics)
  link(rel="stylesheet" href="dyrics.css")
body
  .content
    input(type="radio" id="toggle-0" name="toggle" checked="checked")
    each song, i in songs
      - if (song.active)
        - var forName = "toggle-" + (i+1)
        input(type="radio" id=forName name="toggle")
    nav.nav
      style(id="searchStyle")
      input(type="text" id="searchbar" placeholder="Search")

      .label-list

        label.toggle(for="toggle-0") Yo

        each song, i in songs
          - if (song.active)
            - var forName = "toggle-" + (i+1)
            label.toggle(data-clue=song.title for=forName)
              = song.title

    section.song-list
      article.song#song-ug
      //- article.song#song-0
      //-   h1 Nothing to see here
      //- article.song#song-1.
      //-   Innocence Burned, Alive on the Stage
      //-   Tortured and Dumped in nameless graves
      //-   Centuries weighed, authority died
      //-   Scattering seeds of bleach and lye

      //-   Sinister Rouge
      //-   Coming back for more to even the score
      //-   Sinister Rouge
      //-   Coming back for more to even the score

      //-   Child molesters and Jesuits
      //-   Holding secret conference
      //-   Underneath the pontiff's nose
      //-   And only god will ever know

      //-   Sinister Rouge
      //-   Coming back for more to even the score
      //-   Sinister Rouge
      //-   Coming back for more to even the score

      //-   Give us this day our daily bread
      //-   And then you'll see we'll not forget
      //-   Lick the wounds, cleanse the land
      //-   The modern world rejects your hands

      //-   Sinister Rouge
      //-   Coming back for more to even the score
      //-   Sinister Rouge
      //-   Coming back for more to even the score

      //- article.song#song-2.
      //-   Somewhere high in the desert near a curtain of a blue
      //-   St. Anne's skirts are billowing
      //-   But down here in the city of the lime lights
      //-   The fans of santa ana are withering
      //-   And you can’t deny that living is easy
      //-   If you never look behind the scenery
      //-   It's showtime for dry climes
      //-   And bedlam is dreaming of rain

      //-   When the hills of los angeles are burning
      //-   Palm trees are candles in the murder wind
      //-   So many lives are on the breeze
      //-   Even the stars are ill at ease
      //-   And los angeles is burning

      //-   This is not a test
      //-   Of the emergency broadcast system
      //-   Where malibu fires and radio towers
      //-   Conspire to dance again
      //-   And I cannot believe the media Mecca
      //-   They're only trying to peddle reality,
      //-   Catch it on prime time, story at nine
      //-   The whole world is going insane

      //-   When the hills of los angeles are burning
      //-   Palm trees are candles in the murder wind
      //-   So many lives are on the breeze
      //-   Even the stars are ill at ease
      //-   And los angeles is burning

      //-   A placard reads
      //-   "the end of days"
      //-   Jacaranda boughs are bending in the haze

      //-   More a question than a curse
      //-   How could hell be any worse?

      //-   The flames are stunning
      //-   The cameras running
      //-   So take warning

      //-   When the hills of los angeles are burnin
      //-   Palm trees are candles in the murder wind
      //-   So many lives are on the breeze
      //-   Even the stars are ill at ease
      //-   And los angeles is burning

script(src="dyrics.js")
