body
  background: $dark
  margin: 0
  padding: 0
  font-weight: 400
  line-height: 1.4
  font-family: $font
  -webkit-font-smoothing: antialiased

.content
  display: flex
  align-items: stretch
  justify-content: flex-start
  color: #ddd
  margin: 0

.nav
  flex: 1 0 26em
  position: relative
  z-index: 1
  overflow: hidden
  border-right: 1px dotted rgba(255, 255, 255, 0.1)
  box-shadow: 0 0 15px 10px $dark
  color: rgba(255, 255, 255, 0.5)
  transition: transform 0.25s ease-in-out
  transform: translateZ(1px)

.song-list
  flex: 1 1 100%
  height: 100vh
  overflow: hidden
  position: relative
  background: rgba(0, 0, 0, 0.1)
  white-space: pre-line