@media (max-width: 26em)
  .song
    padding: 4em 2em
    font-size: 12px
  input[data-nav="true"]:checked
    transform: translateX(13.5em)
  .nav:before,
  .nav:after
    margin-right: 3em


@media (min-width: 42em)
  input[data-column="true"]:checked ~ .song:not(#song-0)
    columns: 1

@media (min-width: 105em)
  input[data-column="true"]:checked ~ .song:not(#song-0)
    columns: 2

@media (min-width: 135em)
  input[data-column="true"]:checked ~ .song:not(#song-0)
    columns: 3

@media (min-width: 170em)
  input[data-column="true"]:checked ~ .song:not(#song-0)
    columns: 4