*, *:before, *:after {
  box-sizing: border-box;
  /*font-family: 'Lora', 'Georgia', serif;*/
  font-family: 'Lato', 'Helvetica', sans-serif;
}
body {
  background: #151023;
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.4;
}

label {
  display: block;
  padding: .5em 1.5em;
  cursor: pointer
}

label:hover {
  color: #fff;
}

[type="radio"], #searchStyle {
  display: none;
}

#searchbar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5em;
    font-size: 1rem;
    font-weight: 300;
    background: #151023;
    color: rgba(255,255,255, 0.7);
    border: 0;
    box-shadow: 0 0px 15px 10px #151023;
    transition: all 0.2s ease-in-out;
}
input::-webkit-input-placeholder {
    color: rgba(255,255,255, 0.7);
}
#searchbar:focus {
  outline: none;
  color: rgba(255,255,255, 0.9);
  background: rgba(0,0,0,.5);
  box-shadow:  0 0px 15px 10px #151023,  inset -4px 0 0 rgba(255,255,255, 0.5);
}

#toggle-0:checked ~ .nav [for="toggle-0"],
#toggle-1:checked ~ .nav [for="toggle-1"],
#toggle-2:checked ~ .nav [for="toggle-2"],
#toggle-3:checked ~ .nav [for="toggle-3"],
#toggle-4:checked ~ .nav [for="toggle-4"],
#toggle-5:checked ~ .nav [for="toggle-5"] {
  color: #fff;
  background: rgba(255,255,255,.1);
}

.content {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  color: #bbb;
  margin: 0;
}

.nav {
  flex: 1 1 20%;
  position: relative;
  border-right: 1px dotted rgba(255,255,255,0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
  color: rgba(255,255,255, 0.5);
  transition: all 0.25s;
}

.nav:before,
.nav:after {
  content: '';
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.nav:before {
  width: 12px;
  border-top: 3px solid rgba(255,255,255,0.2);
  transform: translate3d(-26px, 42px,0)  rotate(45deg);
}
.nav:after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,0.2);
  transform: translate3d(-35px, 22px,0)  rotate(45deg);
}

.label-list {
  height: 100vh;
  padding: 5em 0;
  overflow: auto;
}

.song-list {
  flex: 1 1 80%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: rgba(0,0,0,.1);
  white-space: pre-line;
}

.song {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em 4em;
  letter-spacing: 0.02em;
  overflow: auto;
  font-size: 21px;
  color: #fff;
  line-height: 1.618;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  opacity: 0;
  -webkit-columns: 2;
  transform-origin: left center;
  transform: translateX(-10%) translateZ(1px);
  pointer-events: none;
  /* fadeout */
  transition: all 0.3s;
}

.song.pending {
  background: url('http://i612.photobucket.com/albums/tt207/featherliteness/Stuff/gifRainbowSpiral.gif') no-repeat center center;
}

.song.pending,
.song.pending span {
  color: transparent;
}

.song.active,
.song.active span {
  font-family: monospace;
}

.song.active:not(.pending) span {
  color: cyan;
}

.song.active,
#toggle-0:checked ~ .song-list #song-0,
#toggle-1:checked ~ .song-list #song-1,
#toggle-2:checked ~ .song-list #song-2,
#toggle-3:checked ~ .song-list #song-3,
#toggle-4:checked ~ .song-list #song-4,
#toggle-5:checked ~ .song-list #song-5 {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0%) translateZ(1px);
  /* fadein */
  transition: all 0.4s;
}

.song p {
  -webkit-columns: 2;
}

.toggle {
  animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
opacity: 0
}

.toggle:nth-child(1) {
 animation-delay: 0.1s;
}
.toggle:nth-child(2) {
 animation-delay: 0.2s;
}
.toggle:nth-child(3) {
 animation-delay: 0.3s;
}
.toggle:nth-child(4) {
 animation-delay: 0.4s;
}

.toggle:nth-child(5) {
 animation-delay: 0.5s;
}
.toggle:nth-child(6) {
 animation-delay: 0.6s;
}
.toggle:nth-child(7) {
 animation-delay: 0.7s;
}
.toggle:nth-child(8) {
 animation-delay: 0.8s;
}
.toggle:nth-child(9) {
 animation-delay: 0.9s;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: translateX(-10%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}