@import url('https://fonts.googleapis.com/css?family=Roboto:400,600|Roboto+Mono');

*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: #151023;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
}

[type="radio"], #searchStyle {
  display: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: cyan
}
#searchbar {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 1.5em;
  /*padding-left: 4.5em;*/
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background: #151023;
  color: rgba(255,255,255, 0.7);
  border: 0;
  box-shadow: 0 0px 15px 10px #151023;
  transition: all 0.2s ease-in-out;
}
input::-webkit-input-placeholder {
  color: rgba(255,255,255, 0.3);
}
#searchbar:focus {
  outline: none;
  color: cyan;
  box-shadow:  0 0px 15px 10px #151023,  inset -2px 0 0 cyan;
}

*:focus {
  outline: 1px solid cyan;
}

.content {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  color: #ddd;
  margin: 0;
}

.label-list {
  height: 100vh;
  padding: 5em 0;
  overflow: auto;
}
.nav {
  flex: 1 0 26em;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-right: 1px dotted rgba(255,255,255,0.1);
  box-shadow: 0 0 15px 10px #151023;
  color: rgba(255,255,255, 0.5);
  transition: transform 0.25s ease-in-out;
  transform: translateZ(1px);
}


.song-list {
  flex: 1 1 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: rgba(0,0,0,.1);
  white-space: pre-line;
}

input[data-nav="true"]{
  right: auto;
  position: fixed;
  top: 1.5em;
  left: 1.5em;
  width: 1.5em;
  height: 1em;
  z-index: 2;
  transform: translateX(-50%) translateY(-50%) translateZ(1px);
  color: cyan;
  text-align: center;
  border: 0;
  background: linear-gradient(0deg,
    cyan 0% ,     cyan 15% ,
    transparent 15.001% , transparent 43.5% ,
    cyan 43.501%, cyan 57.5%,
    transparent 57.501% , transparent 85% ,
    cyan 85.001%, cyan 100%
    )
}
input[data-nav="true"]:checked {
  background: none;
  transform: translateX(20em);
}
input[data-nav="true"]:checked:before{
  content: '×';
  font-size: 2em;
  line-height: 0;
}

input[data-nav="true"]:focus {
  outline: none;
}
input[data-nav="true"]:not(:checked) ~ .nav {
  transform: translateX(-100%) translateZ(1px);
  flex: 1 1 0%;
}
input[data-nav="true"]:not(:checked) ~ .song-list {
  flex: 1 1 100%;
  margin-left: 0;
}

.nav:before,
.nav:after {
  content: '';
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.nav:before {
  width: 12px;
  border-top: 3px solid rgba(255,255,255,0.2);
  transform: translate3d(-26px, 42px,0)  rotate(45deg);
}
.nav:after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,0.2);
  transform: translate3d(-35px, 22px,0)  rotate(45deg);
}


.toggle {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: .5em 1.5em;
  cursor: pointer
}
.toggle:hover{
  color: #fff;
  background: rgba(255,255,255,.1);
}
.toggle:active{
  color: cyan;
  background: rgba(255,255,255,.1);
}

.artist {
  font-size: 0.75em;
  font-weight: 600;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  text-transform: uppercase;
}


.song {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3em 4em;
  overflow: auto;
  font-size: 18px;
  font-family: "Roboto Mono", "Source Code Pro", monospace;
  color: transparent;
  line-height: 1.618;
  background-position: center;
  transform-origin: left center;
  pointer-events: none;
  /* fadeout */
  transition: all 0.16s;
}

.action-input {
  -webkit-appearance: none;
  border: 1px solid cyan;
  font-size: 1.25em;
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 1em;
  height: 1em;
  line-height: 0.75;
  z-index: 1;
  text-align: center;
  font-weight: 300;
  opacity: 0.3;
  transform: translateX(50%) translateY(-50%) translateZ(1px);
  transition: all 0.2s;
  }
  .action-input:hover { opacity: 0.8; }
  .action-input:active { opacity: 1; }


input[data-chords="true"] {
  top: 1.5em;
  right: 4em;
  }
  input[data-chords="true"]:hover{ opacity: 1 }
  input[data-chords="true"]:before{ content: '♪';}
  input[data-chords="true"]:checked {
    color: #000;
    background: cyan;
  }
  input[data-chords="true"]:checked ~ .song span {
    display: initial;
  }

input[data-column="true"]{
  height: 1.4em;
  top: 1.5em;
  right: 1.5em;
  background: linear-gradient(0deg, transparent 0%, cyan 100%);
  }
  input[data-column="true"]:hover { opacity: 1; }
  input[data-column="true"]:checked {
    background: linear-gradient(90deg, cyan 0%, transparent 100%);
    width: 1.6em;
    height: 1em;
  }
  input[data-column="true"]:checked ~ .song:not(#song-0) {
    -webkit-columns: 2;
  }


.song span {
  display: none;
  font-family: inherit;
  transition: inherit;
}
.song.active span {
  color: cyan;
  font-weight: 500;
  font-size: 0.875em;
}
.song:before, .song:after {
  content: '';
  position: absolute;
  z-index: 1;

}
.song.pending:before {
  top: 0;
  left: 0px;
  width: 1px;
  height: 0%;
  background: cyan;
  animation: load .5s ease-in-out infinite;
}


@keyframes load {
  0%{
    bottom: 100%;
  }
  50%{
    height: 100%;
    top: 0%;
  }
  100%{
    top: 100%;
    bottom: 0%;
  }
}
.song.pending:after {
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 0%;
  background: cyan;
  animation: loadh .5s ease-in-out infinite;
  animation-delay: .25s;
}

@keyframes loadh {
  0%{
    right: 100%;
  }
  50%{
    width: 100%;
    left: 0%;
  }
  100%{
    left: 100%;
    right: 0%;
  }
}

.song.pending,
.song.pending span {
  color: transparent;
}

.song.active,
#toggle-0:checked ~ .song-list #song-0,
#toggle-1:checked ~ .song-list #song-1,
#toggle-2:checked ~ .song-list #song-2{
  color: #fff;
  pointer-events: auto;
  /* fadein */
  transition: all 0.32s;
}

.song p {
  -webkit-columns: 2;
}

.toggle {
  animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  opacity: 0;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: translateX(-10%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}