.song
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  padding: 3em 4em
  overflow: auto
  font-size: 18px
  font-family: $mono
  line-height: 1.618
  white-space: pre-wrap
  columns: 2
  background-position: center
  transform-origin: left center
  transition: all 0.16s
  &#song-0
    columns: auto
  &:before, &:after
    content: ''
    position: absolute
    z-index: 1
    background: $primary-color
  &.active
    pointer-events: auto
    transition: all 0.32s
  span
    display: inline-block
    font-family: inherit
    color: $primary-color
    font-weight: 500
    font-size: 0.875em
    transition: all 0.24s
  &.pending
    color: transparent
    span
      color: transparent
    &:before
      top: 0
      left: 0px
      width: 1px
      height: 0%
      animation: load .5s ease-in-out infinite
    &:after
      bottom: 0px
      left: 0px
      height: 1px
      width: 0%
      animation: loadh .5s ease-in-out infinite
      animation-delay: .25s
  &.active, &.pending
    & + .song
      opacity: 0
      pointer-events: none

#toggle-0:checked ~ .song-list #song-0
  color: inherit